@model CoreIntroNC19Egen.Models.Person

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>id: @ViewData["id"]</p>
<p>name: @ViewData["name"]</p>

<p>Name: @Model.Name</p>
<p>Salary: @Model.Salary</p>

